html, body{ /*TARGETS EVERYTHING INSIDE THE BODY*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: rgb(243 234 224);
}

.wrapper{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243 234 224);
}


.empty-div1{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    height: 15vh;
    background-color: rgb(243 234 224);
}

.empty-div2{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    background-color: rgb(243 234 224);
    opacity: 0.8;
    background: url(../img/borderline2.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-blend-mode: multiply;
}





/*NAVIGATION BAR*/
header{
    text-align: center;
    position: absolute;
    z-index: 999;
    width: 100%;   
    height: 50px;
}


header .logo{
    color: slategrey;
    opacity: 0.5;
    float: left;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 15px;
    margin-top: 9px;
}

header .logo span{
    font-size: 21px;
    
}

.nav-toggle{                  /*this is the <input> checkbox*/
    display: none; 
}

.nav-toggle-label{           /*this is the <label> span (hamburger menu) */
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    color: red;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: rgb(211, 186, 161); /*rgb(211, 186, 161)*/ /*rgb(244, 205, 51)*/
    height: 2px;
    width: 4em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: none;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover{
    color: black;
    text-decoration: none;
}

.nav-toggle:checked ~ nav{
    transform: scale(1, 1);
}/*END OF NAVIGATION BAR*/

/*SLIDESHOW*/
.slideshow{
    height: 100vh;
    width: 100vw;
    background: url(../img/bio1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slide 20s infinite;
}

@keyframes slide{
    25%{
        background: url(../img/corralejo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    50%{
        background: url(../img/caleta.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    75%{
        background: url(../img/grantarajal.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.content{
    position: absolute;
    top: 30%;
    color: white;
    max-width: 100%;
}

.content h1{
    font-family: 'Volkhov';
    font-size: 4.5em;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 0 20px black;
    margin: 5%;
}

.content h1 span{
    font-family: 'Shadows Into Light';
    font-size: 0.5em;
    margin-top: -4%;
    margin-left: 5%;
    color: rgb(158, 122, 87);
    text-shadow: 0 0 5px rgb(240, 173, 49);
}/*END OF SLIDESHOW*/


/*STATEMENT*/
.statement{
    max-width: 550px;
    height: auto;
    background-color: rgb(243 234 224);
    
    
}

.statement p{
    font-family: 'Volkhov', Times, serif;   /*!!!!!!!!!!!!!!!! STATEMENT-FONT-FAMILY THEME!!!!!!!!!!!!!!!*/
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: rgb(158, 122, 87);         /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!FONT-COLOUR THEME!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    
}

.statement a{
    text-decoration: none;
    font-family: 'Shadows Into Light';    /*!!!!!!!!!!!!!!!!!!!!LINK-FONT-FAMILY THEME!!!!!!!!!!!!!!!!*/
    font-size: 14px;
    color: rgb(158, 122, 87);
    border: 2px solid white;
    box-shadow: 0 0 9px rgb(158, 122, 87);
    border-radius: 5px;
    width: 25px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 50px;
    text-shadow: 0 0 1px rgb(158, 122, 87); /*rgb(240, 173, 49)*/
}

.statement a:hover{
    color: white;
    background-color: rgb(158, 122, 87);
    transform: translateX(-0.4rem);
}/*END OF STATEMENT*/


/*PLACES*/
.places{
    width: 100%;
    height: 100vh;
    background-color: rgb(243 234 224);
    background-image: url(../img/mark_strand.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-attachment: ;*/
}

@media (max-width: 653px){
    .places{
        width: 100%;
        height: 100vh;
        background-color: rgb(243 234 224);
    }
}

.places h2{
    font-family: 'Volkhov', Times, serif;   
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    text-align: center;
    color: rgb(158, 122, 87);         
    font-weight: bold;
    text-decoration: underline 5px white;
}
.places p{
    font-family: 'Volkhov', Times, serif;   
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: rgb(158, 122, 87);         
    font-weight: bold;
}/*END OF PLACES*/



/*DINING*/
.dining{
    width: 100%;
    height: 100vh;
    /*background-color: rgb(243 234 224);*/
    /*background-image: url(../img/dining3.);*/
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    /*border: 5px solid rgb(158, 122, 87);*/
}

@media (max-width:763px){/*653px*/
    .dining{
        width: 100%;
        height: 50vh;
        /*background-color: rgb(243 234 224);*/
        /*background-image: url(../img/dining3.);*/
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-blend-mode: multiply;  
        display: flex;
        justify-content: center;
        align-items: center;  
        /*border: 1px solid rgb(158, 122, 87);*/
    }
}

@media (max-width: 414px){
    .dining{
        width: 100%;
        height: 50vh;
        /*background-color: rgb(243 234 224);*/
        /*background-image: url(../img/dining3.);*/
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-blend-mode: multiply;  
        display: block;
        justify-content: center;
        align-items: center;  
    }

    .dining h2{
        font-family: 'Volkhov', Times, serif;   /*!!!!!!!!!!!!!!!! STATEMENT-FONT-FAMILY THEME!!!!!!!!!!!!!!!*/
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        color: rgb(158, 122, 87);         /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!FONT-COLOUR THEME!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        font-weight: bold;
    }

    .dining p{
        font-size: 8px;
        font-family: 'Volkhov';
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        color: rgb(158, 122, 87);         /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!FONT-COLOUR THEME!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        font-weight: bold;
    }

    .dining a{
        text-decoration: none;
        font-family: 'Shadows Into Light';    /*!!!!!!!!!!!!!!!!!!!!LINK-FONT-FAMILY THEME!!!!!!!!!!!!!!!!*/
        font-size: 6px;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        width: 25px;
        padding-left: 7px;
        padding-right: 7px;
        margin-top: 50px;
        text-shadow: 0 0 1px rgb(240, 173, 49);
        
    }
    
}

.dining h2{
    font-family: 'Volkhov', Times, serif;   /*!!!!!!!!!!!!!!!! STATEMENT-FONT-FAMILY THEME!!!!!!!!!!!!!!!*/
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: rgb(158, 122, 87);         /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!FONT-COLOUR THEME!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    font-weight: bold;
    text-decoration: underline 5px white;
}

.dining p{
    font-size: 14px;
    font-family: 'Volkhov';
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: rgb(158, 122, 87);         /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!FONT-COLOUR THEME!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    font-weight: bold;
}


.dining a{
    text-decoration: none;
    font-family: 'Shadows Into Light';    /*!!!!!!!!!!!!!!!!!!!!LINK-FONT-FAMILY THEME!!!!!!!!!!!!!!!!*/
    font-size: 14px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 25px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 50px;
    text-shadow: 0 0 1px rgb(240, 173, 49); /*rgb(240, 173, 49)*/
}


.dining a:hover{
    color: rgb(158, 122, 87);
    background-color: white;
}

#slider{
    overflow: hidden;
    min-height: 245px;
    max-height: 545px;
    background: url(../img/Amares4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    #slider figure{
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 10s slider ease-in infinite;
        
    }
    #slider figure img{
        float: left;
        width: 20%;
    }


@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    85%{
        left: -300%;
    }
    95%{
        left: -400%;
    }
    100%{
        left: -400%;
    }
} 


@media (min-width: 660px){
    #slider{
        overflow: hidden;
        max-height: 545px;
        }

        #slider figure img{
            float: left;
            width: 10%;
        }
}
/*END OF DINING*/

/*SPORTS BARS*/
.sports-bars{
    width: 100%;
    height: 100vh;
    background-color: rgb(243 234 224);
    background-image: url(../img/mae_west.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-attachment: ;*/
    
}

@media (max-width: 653px){
    .sports-bars{
        width: 100%;
        height: 50vh;
        background-color: rgb(243 234 224);
    }
}

@media (orientation: landscape){
    .sports-bars{
        width: 100%;
        height: 100vh;
        background-color: rgb(243 234 224);
    }
}

.sports-bars h2{
    font-family: 'Volkhov', Times, serif;   
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    text-align: center;
    color: rgb(158, 122, 87);         
    font-weight: bold;
    text-decoration: underline 5px white;
}
.sports-bars p{
    font-family: 'Volkhov', Times, serif;   
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: rgb(158, 122, 87);         
    font-weight: bold;
}
/*END OF SPORTS BARS*/


/*LIVE MUSIC*/
.live-musicheader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.live-musicheader div{
    font-family: 'Shadows Into Light';
    font-size: 25px;
    color: rgb(158, 122, 87);
    opacity: 0.8;
    text-shadow: 0 0 17px rgb(247, 162, 6);
    transform: rotate(-20deg);
    position: absolute;
    z-index: 999;
    padding-right: 75px;
    padding-bottom: 8px;
    
}

.live-musicheader h2{
    font-family: 'Volkhov', Times, serif;   
    font-size: 16px;
    /*padding-left: 10px;*/
    padding-right: 60px;
    text-align: center;
    color: rgb(158, 122, 87);         
    font-weight: bold;
    text-decoration: underline 5px white;
    margin-top: 50px;
    padding-left: 65px;
}

.live-musiclist{
    width: 100%;
    height: 100vh;
    background-color: rgb(243 234 224);
    background-image: url();
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    
}

@media (max-width: 654px){
    .live-musiclist{
        width: 100%;
        height: auto;
        background-color: rgb(243 234 224);
    }
}

@media (orientation:landscape){
    .live-musiclist{
        width: 100%;
        min-height: 995px;
        background-color: rgb(243 234 224);
    }
}


.live-musiclist h2{
    font-family: 'Volkhov', Times, serif;   
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    text-align: center;
    color: rgb(158, 122, 87);         
    font-weight: bold;
    text-decoration: underline 5px white;
}
.live-musiclist div{
    display: block;
    font-family: 'Shadows Into Light', Times, serif;   
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: rgb(158, 114, 69); 
    opacity: 1;        
    z-index: 999;
}

.live-musiclist div:hover{
    background-color: white;
}

.live-musiclist div:nth-child(1){
    transform: rotate(20deg);
    margin-top: 20px;
    margin-bottom: 50px;
}

.live-musiclist div:nth-child(2){
    transform: rotate(-20deg);
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.live-musiclist div:nth-child(3){
    transform: rotate(20deg);
    margin-top: 0px;
    margin-bottom: 50px;
    
}

.live-musiclist div:nth-child(4){
    transform: rotate(-20deg);
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.live-musiclist div:nth-child(5){
    transform: rotate(20deg);
    margin-top: 20px;
    margin-bottom: 50px;
}

.live-musiclist div:nth-child(6){
    transform: rotate(-20deg);
    margin-top: 20px;
    margin-bottom: 50px;
}

.live-musiclist div:nth-child(7){
    transform: rotate(-20deg);
    margin-top: 20px;
    margin-bottom: 50px;
}

.live-musiclist img{
    width: 115px;
    height: auto;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

@media (min-width: 825px){

    .live-musiclist div{
        display: block;
        font-family: 'Shadows Into Light', Times, serif;   
        font-size: 16px;
        padding-left: 10px;
        padding-right: 240px;
        padding-top: 50px;
        text-align: center;
        color: rgb(158, 114, 69); 
        opacity: 1;        
        z-index: 999;
    }


    .live-musiclist img{
        width: 310px;
        height: auto;
        position: absolute;
        z-index: -1;
        opacity: 0.5;
        
    }
}
    
.live-musiclist a{
    cursor: pointer;
}


.live-musiclist span{
    opacity: 0;
    font-size: 25px;
}
/*END OF LIVE MUSIC*/






/*SECTION-3*/
.about-me{
    font-family: 'Volkhov', Times, serif;   
    font-size: 16px;
    /*padding-left: 10px;*/
    padding-right: 60px;
    text-align: center;
    color: rgb(158, 122, 87);         
    font-weight: bold;
    text-decoration: underline 5px white;
    margin-top: 0px;
    padding-left: 65px;
}


#section-3{
    width: 100%;
    max-height: 945px; /*745px*/
    /*margin-top: 165px;
    margin-bottom: 165px;*/
    
}

#section-3 h2{
    font-family: 'Volkhov', Times, serif;   
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    text-align: center;
    color: rgb(158, 122, 87);         
    font-weight: bold;
    
    
}

#section-3 img{
    width: 120px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
}

#section-3 p{
    font-size: 12px;
    font-family: 'Volkhov', Times, serif;   /*!!!!!!!!!!!!!!!! STATEMENT-FONT-FAMILY THEME!!!!!!!!!!!!!!!*/
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 150px;
    text-align: center;
    color: rgb(158, 122, 87); 
}

/*End of Section-3*/
#about {
    width: 150px;
    height: 150px;
    background: rgb(243 234 224);
    background-image: url(../img/bio5.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border: 1px solid rgb(158, 114, 69);
    transition: width 2s, height 4s;
}

#about:hover {
    width: 100%;
    height: 745px;
}

.container{ /*TARGETS *MEASUREMENTS* OF ALL CONTAINERS*/
    max-width: 1140px;
    margin-left: auto; /*TO CENTER EVERYTHING INSIDE A BOX, USE MARGIN LEFT AND RIGHT TO AUTO */
    margin-right: auto;
    overflow: hidden;
    
}

@media (max-width: 745px) {
    #about {
        width: 150px;
        height: 150px;
        background: rgb(243 234 224);
        background-image: url(../img/bio4.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        border: 1px solid rgb(146, 112, 77);
        transition: width 2s, height 4s;
    }

    #about:hover {
        width: 100%;
        height: 945px; /*745px*/
    }

    #section-3 p{
        font-size: 12px;
        font-family: 'Volkhov', Times, serif;   /*!!!!!!!!!!!!!!!! STATEMENT-FONT-FAMILY THEME!!!!!!!!!!!!!!!*/
        padding-left: 15px;
        padding-right: 15px;
        /*padding-top: 80px;*/
        text-align: center;
        color: rgb(158, 122, 87); 
        font-weight: bold;
    }
}