html, body{ /*TARGETS EVERYTHING INSIDE THE BODY*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}


.container{
    width: 100%;
    height: 100%;  
    
}

.wrapper{
    max-width: 1890px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;  
}


h3{
    font-size: 20px;
    font-family: 'Cinzel', sans-serif;
    color: slategrey;
    text-shadow: 0 0 5px whitesmoke;
    text-align: center;

}



/*navigation styles start here*/

header{
    text-align: center;
    position: absolute;
    z-index: 999;
    width: 100%;   
    height: 50px;
}


header .logo{
    color: slategrey;
    opacity: 0.5;
    float: left;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 15px;
    margin-top: 9px;
}

header .logo span{
    font-size: 21px;
    
}

.nav-toggle{                  /*this is the <input> checkbox*/
    display: none; 
}

.nav-toggle-label{           /*this is the <label> span (hamburger menu) */
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    color: red;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: rgb(211, 186, 161); /*rgb(211, 186, 161)*/ /*rgb(244, 205, 51)*/
    height: 2px;
    width: 4em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: none;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover{
    color: rgb(244, 205, 51);
    text-decoration: none;
}

.nav-toggle:checked ~ nav{
    transform: scale(1, 1);
}/*END OF NAVIGATION STYLES*/




/*INTRO SECTION*/
#home{
    width: 100%;
    height: 100vh;
    /*background-color: rgb(205, 202, 202);*/
    /*background-image: url(../img/Fh5.png);*/
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

@media (max-width: 445px){
    #home{
        width: 100%;
        height: 45vh;
        /*background-color: rgb(205, 202, 202);*/
        /*background-image: url(../img/hero.jpg);*/
        opacity: 0.9;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.home h1{
    position: absolute;
    font-family: 'Dancing Script', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    opacity: 5;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


video{
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: absolute;
    opacity: 1;
    margin: 0;

}

@media (max-width: 1000px){
    .home h1{
        position: absolute;
        font-family: 'Dancing Script', sans-serif;
        font-size: 15px;
        padding-top: 20px;
        color: slategrey;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 679px){
    .home h1{
        position: absolute;
        font-family: 'Dancing Script', sans-serif;
        font-size: 10px;
        padding-top: 10px;
        color: slategrey;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 399px){
    .home h1{
        position: absolute;
        font-family: 'Dancing Script', sans-serif;
        font-size: 5px;
        padding-top: 0px;
        color: slategrey;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}



/*END OF INTRO SECTION*/


/*STATEMENT SECTION*/
.statement{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:whitesmoke; /*rgb(211, 186, 161)*/
    background-image: url(../img/background6.png);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    border: 5px double rgb(211, 186, 161);
    
}

.statement-box{
    width: 545px;
    height: auto;
    
    
}


@media (max-width: 569px){
    .statement-box{
        width: 345px;
        height: auto;  
    }
}

@media (max-width: 375px){
    .statement-box{
        width: 100%;
        height: auto;   
    }
}


.statement p{
    max-width: 665px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Shadows Into Light', 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    text-transform: lowercase, capitalize;
    text-shadow: 0 0 10px rgb(240, 173, 49);
}


.statement a{
    text-decoration: none;
    font-family: 'Cinzel', sans-serif;
    font-size: 20px;
    color: rgb(27, 24, 24);
    text-shadow: 0 0 12px slategrey;
    border: 3px double black;
    box-shadow: 0 0 10px rgb(240, 173, 49);
    border-radius: 50px;
    width: 25px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 50px;
}

.statement a:hover{
    color: white;
}

@media (max-width: 1629px){
    .statement p{
        font-size: 25px;
        padding-left: 25px;
        padding-right: 25px;
        font-weight: bold;
        text-align: center;
        font-family: 'Shadows Into Light', 'Times New Roman', Times, serif;
        margin-bottom: 50px;
        text-transform: lowercase, capitalize;
        text-shadow: 0 0 10px rgb(240, 173, 49);
    }
}

@media (max-width: 695px){
    .statement p{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        font-family: 'Shadows Into Light', 'Times New Roman', Times, serif;
        margin-bottom: 50px;
        padding-left: 25px;
        padding-right: 25px;
        text-transform: lowercase, capitalize;
        text-shadow: 0 0 10px rgb(240, 173, 49);
    }
    .statement a{
        text-decoration: none;
        font-family: 'Cinzel', sans-serif;
        font-size: 12px;
        color: rgb(27, 24, 24);
        text-shadow: 0 0 12px slategrey;
        border: 3px double black;
        box-shadow: 0 0 10px rgb(240, 173, 49);
        width: 25px;
        padding-left: 7px;
        padding-right: 7px;
        margin-top: 50px;
    }
}
/*select{
    margin-top: 15px;
    border: 1px solid rgb(240, 173, 49);
    background-color: transparent;
}*/
/*END OF STATEMENT SECTION*/


/*EMPTY DIV*/

.empty-div1{
    width: 100%;
    height: 25vh;
    background-color: white;
    background-image: url(../img/);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    overflow: hidden;
}
/*END OF EMPTY DIV*/


@media (max-width: 456px){
    .empty-div1{
        width: 100%;
        height: 15vh;
        background-color: white ;
        background-image: url(../img/);
        opacity: 0.5;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode: multiply;
        background-attachment: fixed;
    }
}
.empty-div2{
    width: 100%;
    height: 25vh;
    background-color: white;
    /*border: 5px solid beige;*/
    background-image: url(../img/);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    overflow: hidden;
}



@media (max-width: 456px){
    .empty-div2{
        width: 100%;
        height: 15vh;
        background-color: white;
        /*border: 5px solid beige;*/
        background-image: url(../img/);
        opacity: 0.9;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode: multiply;
        background-attachment: fixed;
    }
}/*END OF EMPTY DIV*/

/*CONTENT SECTION*/
.content{
    /*width: 100%;
    height: auto;
    background-color: white;
    background-image: url(../img/pinboard4.png);
    opacity: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: ;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;*/

    width: 100%;
    height: auto;
    /*background-color: rgb(250, 226, 195);*/
    background-image: url();
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: ;
    border: 5px double rgb(211, 186, 161);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.content-box{
    width: 100%;
    height: auto;
    opacity: 1;
    /*border: 4px double rgb(240, 173, 49);*/
    background-color: rgb(245, 241, 240);
    background-image: url(../img/pinboard4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    border: 5px double rgb(211, 186, 161);
}


@media (max-width: 569px){
    .content-box{
        width: 100%;
        height: auto;
        opacity: 1;
        /*border: 4px double rgb(240, 173, 49);*/
        background-color: rgb(245, 241, 240);
        background-image: url(../img/pinboard4.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode: multiply;
        background-attachment: fixed;
        border: 5px double rgb(211, 186, 161);
    }
}

@media (max-width: 375px){
    .content-box{
        width: 100%;
        height: auto;
        opacity: 1;
        /*border: 4px double rgb(240, 173, 49);*/
        background-color: rgb(245, 241, 240);
        background-image: url(../img/pinboard4.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-blend-mode: multiply;
        background-attachment: fixed;
        border: 5px double rgb(211, 186, 161);
    }
}

/**/


/**/





.content h2{
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Shadows Into Light', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: chocolate;
}

.content p{
    text-align: center;
    font-family: 'Shadows Into Light', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: chocolate;
    padding-top: 30px;
    padding-bottom: 30px;
}


@media (max-width: 467px){
    .content h2{
        padding-top: 50px;
        padding-bottom: 30px;
        text-align: center;
        font-family: 'Shadows Into Light', 'Times New Roman', Times, serif;
        font-size: 25px;
        font-weight: bold;
        color: chocolate;
    }
    .content p{
        text-align: center;
        font-family: 'Shadows Into Light', 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: bold;
        color: chocolate;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

/*END OF CONTENT SECTION*/


/*DINING SECTION*/
.dining{
    max-width: 100%;
    height: auto;
    background-color: beige;
    background-image: url(../img/background1.png);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    overflow: hidden;
    
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    background-color: darkgrey;
    opacity: 0.5;
    transform: translateY(-.5rem);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    background-color: rgba(62, 27, 1, 0.245);
    padding: 15px;
    text-align: center;
    font-size: medium;
  }

  div.desc i{
    color: blue;
    
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
    
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }/*END OF DINING SECTION*/

  .sports-bars{
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: whitesmoke;
    background-image: url(../img/background6.png);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: none; /**/  
    border: 5px double rgb(211, 186, 161);
  }

  .sports-bars p, a, h3{
    font-family: 'Shadows Into Light', 'Times New Roman', Times, serif;

  }

  .sports-bars span{
    color: chocolate;
    font-size: 12px;
  }

  /**/

  .container2{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .container2 img{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px double rgb(211, 186, 161);
    box-shadow: 0 0 10px white;
    
}

.container2 p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 15px;
    font-family: 'Cinzel', sans-serif;
    color: chocolate;
    animation: slideMe 12s ease-in;
}


.container2 a{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 15px #0b0b0b;   
    font-size: 13px;
    
}

.container2 a:hover{
    color: #777;
}

@media (min-width: 630px){
    .container2{
        width: 1140px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }


    .container2 img{
        min-width: 500px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        
    }

    
}

@media (max-width: 273px){
    .container2{
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        justify-content: center;
        align-items: center;
      }


    .container2 img{
        display: none;
        max-width: auto;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .container2 p:nth-child(1){
        background-image: url(../img/nestors.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .container2 p:nth-child(2){
        background-image: url(../img/amares.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .container2 p:nth-child(3){
        background-image: url(../img/el_patio.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .container2 p:nth-child(4){
        background-image: url(../img/smile_terraza.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .container2 a{
        color: white;
        font-weight: bold;
    }

    
}

