*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
}

.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/*Individual Styles*/

#home{
    background: black;
    height: 245px;
}

.main-heading{
    text-align: center;
    margin-top: 25px;
}

.main-heading img{
    width: 100px;
    height: 100%;
}

.main-heading h1{
    font-family: 'Shadows Into Light', sans-serif;
    color: white;
    animation: fade 5s ease-in-out forwards;
    opacity: 0;
}

@keyframes fade{
    to{
        opacity: 1;
    }
}

.main-heading p{
    font-family: 'Cinzel', sans-serif;
    color: white;
    animation: fade 10s ease-in forwards;
    opacity: 0;
}

@keyframes fade{
    to{
        opacity: 2;
    }
}

a{
    display: grid;
    height: 50px;
    width: 250px;
    background: grey;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    /*top: 0;
    bottom: 0;*/
    place-items: center;
    font-family: 'Cinzel', sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 5px;

}

a:hover{
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    color: black;
}


.accordion{
    max-width: 1140px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
}

.accordion span{
    flex: 1;
    min-height: 450px;
    margin-inline: 10px;
    margin-inline: 10px;
    transition: all 0.5s ease;
}

.accordion span:hover{
    flex: 5;
}

.accordion .image:nth-child(1){
    background-image: url(../img/empirerock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.accordion .image:nth-child(2){
    background-image: url(../img/rockisland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.accordion .image:nth-child(3){
    background-image: url(../img/stoners2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.accordion .image:nth-child(4){
    background-image: url(../img/yorkbar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.accordion .text{
    z-index: 1;
    text-align: center;
    color: teal;
    text-shadow: 0 0 3px white;
    padding-top: 20px;
}

