body{ /*TARGETS EVERYTHING INSIDE THE BODY*/
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', sans-serif;
    

    
    

    
    
}
html{
    font-size: 62.5%;
}


/*LINK BUTTON*/
a{
    display: grid;
    height: 50px;
    width: 250px;
    background: teal;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    place-items: center;
    font-family: 'Cinzel', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 5px;

}

a:hover{
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
/*END OF LINK BUTTON*/

/*ACCORDION IMAGE HOVER*/
.accordion{
    max-width: 1140px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
}

.accordion span{
    flex: 1;
    min-height: 450px;
    margin-inline: 10px;
    margin-inline: 10px;
    transition: all 0.5s ease;
}

.accordion span:hover{
    flex: 3;
}

.accordion .image:nth-child(1){
    background-image: url(../img/empirerock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.accordion .image:nth-child(2){
    background-image: url(../img/rockisland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.accordion .image:nth-child(3){
    background-image: url(../img/stoners.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.accordion .image:nth-child(4){
    background-image: url(../img/yorkbar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}