
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html, body{ /*TARGETS EVERYTHING INSIDE THE BODY*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    
    
}

.wrapper{
    max-width: 1690px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

h1{
    text-align: center;
    text-transform: lowercase;
}

h2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    color: slategrey;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



/*navigation styles start here*/
header{
    text-align: center;
    position: absolute;
    z-index: 999;
    width: 100%;
}

header .logo{
    color: slategrey;
    opacity: 0.5;
    float: left;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 15px;
    margin-top: 9px;
}

header .logo span{
    font-size: 21px;
    
}

.nav-toggle{                  /*this is the <input> checkbox*/
    display: none; 
}

.nav-toggle-label{           /*this is the <label> span (hamburger menu) */
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    color: red;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: none;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover{
    color: white;
    text-decoration: none;
}

.nav-toggle:checked ~ nav{
    transform: scale(1, 1);
}
/*END OF NAVIGATION STYLES*/

/*SLIDER*/
#slider{
    overflow: hidden;
    
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 6s slider;
    
}
#slider figure img{
    float: left;
    width: 20%;
    
}


@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
/*END OF SLIDER*/

/*EMPTY DIV 1*/
#empty-div .wrapper{
    width: 100%;
    height: 215px;
}

.empty-div{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#empty-div p{
    text-align: center;
    margin-top: 50px;
    color: slategrey;
    font-size: 18px;
    padding-top: 5px;
}






/*END OF EMPTY DIV 1*/



/*PROJECTS SECTION*/
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    background-color: darkgrey;
    transform: translateY(-.5rem);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  } /*END OF PROJECTS SECTION*/

  /*ABOUT SECTION*/
.about{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    background-image: url(../img/newspaper.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    

}
.about img{
    width: 150px;
    height: auto;
    border-radius: 50%;
    opacity: 0.7;
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 13px;  
}

.about p{
    text-align: center;
    font-size: 13px;
    color: white;
    padding-left: 13px;   
}

#about span{
    font-size: 5px;
}


#about span a{
    text-decoration: none;
    font-size: 5px;
}/*END OF ABOUT SECTION*/

/*CONTACT SECTION*/
.contact{
    display: flex;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.contact a{
    text-align: center;
    
}

.contact a:hover{
    background: beige;
    transform: translateY(-.5rem);
}

.contact i{
    width: 32px;
    height: 42px;
    padding-top: 7px;
    font-size: 22px;
    color: slategrey;
    border: 1px solid wheat;
    
    
}
.contact p{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

.arrow-up{
    text-align: center;
}

.arrow-up a{
    text-decoration: none;
    color: rgb(161, 161, 14);
    opacity: 0.4;
    font-weight: bold;
    font-size: 10px;
}
.arrow-up i{
    padding-right: 5px;
}



/*END OF CONTACT SECTION*/

/*FOOTER SECTION*/
.footer p{
    text-align: center;
    color: slategrey;
    font-weight: bold;
}/*END OF FOOTER SECTION*/











@media (max-width: 1222px){
    .header{
        padding-left: 100px;
    }
}

